.record__content {
    margin: 0 auto;
    max-width: 1230px;
    background-color: #EEE;
}

.record__heading {
    margin: 20px 15px;
    text-align: center;
}

.record__button {
    background-color: #FFF;
}

.heading__logo {
    font-weight: bold;
}

.form {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.record-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.record-table__inner {
    width: 100%;
}

.recorded-table__row {
    border-bottom: 1px solid #000;
}

.record-table__header {
    padding: 15px;
    width: 20%;
    font-weight: bold;
}

.record-table__item {
    padding: 15px;
    width: 20%;
}
