.stamping-content {
    margin: 0 auto;
    max-width: 1230px;
    background-color: #EEE;
}

.stamping-heading {
    font-size: 14px;
    margin: 20px 15px;
    text-align: center;
}

.stamping__button {
    display: flex;
    justify-content: space-around;
    width: 70%;
}